@font-face {
    font-family:'customFont';
    src: url('../fonts/Roboto-Medium.ttf');
  }
  .nav-link{
    font-family: 'customFont' !important;
  }
  body {
    background-color: #494949;
  }
  .custom-hr {
    border-top: 3px solid #FFFFFF; /* White horizontal rule */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    margin-right: 0.5rem;
  }

  .extralinks, .nav-link {
    color: rgb(255, 255, 255) !important; /* Ensure the sub nav links are white */
  }
  .extralinks:hover, .nav-link:hover {
    text-decoration: underline;
  }
  #collapseSubLinks {
   width: 100%;
  }
  /* Arrange navbar content vertically and align to the left */
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Change from flex-start to stretch */
  }

  /* Display main nav links horizontally */
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  .bg-custom {
    background-color: #131313 !important;
  }