<div class="modal fade" id="addDeviceModal" tabindex="-1" aria-labelledby="addDeviceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customModal">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="addDeviceModalLabel" style="max-width: 798px;width: 798px;">Add New Device</h5>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addDeviceForm">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="ipAddress" class="form-label">IP Address</label>
                            <div class="input-group">
                                <input type="text" class="custominput" id="ipAddress" placeholder="Enter IP address">
                                <button type="submit" class="customView buttonstyle" style="height: 25px;">Link</button>
                            </div>
                        </div>
                        <div class="col-md-4 checkbox-container">
                            <label class="me-2" for="dynamicGrouping">Dynamic Grouping Enable:</label>
                            <input class="form-check-input" type="checkbox" id="dynamicGrouping">
                        </div>
                    </div>
                    <div class="mt-3 d-flex align-items-center">
                        <p class="mb-0 me-2">Local Scanner (Multi-Link Devices)</p>
                        <button type="button" class="customView buttonstyle"  style="height: 25px;">ARP Scan</button>
                    </div>
                    <div class="mt-3">
                        <div class="table-responsive">
                            <table class="customtable">
                            <thead>
                                <tr>
                                    <th><input class="checkboxes" type="checkbox"></th>
                                    <th>Device Name</th>
                                    <th>Device Ip</th>
                                    <th><button type="button" class="customView buttonstyle" style="height: 25px;">Link</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="checkboxes" type="checkbox"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                            
                                </tr>
                                <tr>
                                    <td><input class="checkboxes" type="checkbox"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
