<div class="offcanvas offcanvas-end offcanvas-custom" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title" id="offcanvasRightLabel">Server Name</h2>
      <button type="button" class="btn btn-outline-light btn-sm">Switch to Group Metrics</button>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <!-- Accordions -->
      <div class="accordion" id="accordionExample">
        
        <!-- Server Details Accordion -->
        <div class="accordion-item ctmAccordion">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Server Details
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
              <div class="d-flex align-items-center">
                <p class="me-3 mb-0">Name: Server12</p>
                <p class="me-3 mb-0">Group: API Endpoint</p>
                <p class="mb-0">Ip Address: 192.168.1.101</p>
              </div>
              <div class="mt-2">
                <p class="mb-0">Status: Critical</p>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Hardware Details Accordion -->
        <div class="accordion-item ctmAccordion">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              Hardware Details
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
            <div class="accordion-body">
              <!-- Sub-Accordions for Hardware Details -->
              <div class="accordion" id="subAccordion">
                <div class="accordion-item ctmAccordion">
                  <h2 class="accordion-header" id="subHeadingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#subCollapseOne" aria-expanded="true" aria-controls="subCollapseOne">
                      CPU Metrics
                    </button>
                  </h2>
                  <div id="subCollapseOne" class="accordion-collapse collapse show" aria-labelledby="subHeadingOne">
                    <div class="accordion-body">
                      <div class="d-flex align-items-center">
                        <p class="me-3 mb-0">Name: R5 5600x</p>
                        <p class="me-3 mb-0">Speed: 2ghz</p>
                        <p class="me-3 mb-0">Usage: 50% </p>
                        <p class="mb-0">Max Usage: 76%</p>
                      </div>
                      <div class="mt-2 d-flex">
                        <p class="me-3 mb-0">Cores: </p>
                        <p class="me-3 mb-0">Threads: </p>
                        <p class="me-3 mb-0">Processors: </p>
                        <p class="mb-0">Up Time: </p>
                      </div>
                      <div class="mt-2 d-flex">
                        <p class="me-3 mb-0">Min Temperature: </p>
                        <p class="me-3 mb-0">Temperature: </p>
                        <p class="mb-0">Max Temperature: </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item ctmAccordion">
                  <h2 class="accordion-header" id="subHeadingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#subCollapseTwo" aria-expanded="true" aria-controls="subCollapseTwo">
                      Memory Metrics
                    </button>
                  </h2>
                  <div id="subCollapseTwo" class="accordion-collapse collapse show" aria-labelledby="subHeadingTwo">
                    <div class="accordion-body">
                      <div class="d-flex align-items-center">
                        <p class="me-3 mb-0">Available:</p>
                        <p class="me-3 mb-0">Speed:</p>
                        <p class="me-3 mb-0">Swap Usage: </p>
                        <p class="mb-0">Cache Usage:</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item ctmAccordion">
                  <h2 class="accordion-header" id="subHeadingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#subCollapseThree" aria-expanded="true" aria-controls="subCollapseThree">
                      Disk Metrics
                    </button>
                  </h2>
                  <div id="subCollapseThree" class="accordion-collapse collapse show" aria-labelledby="subHeadingThree">
                    <div class="accordion-body">
                      <div class="d-flex align-items-center">
                        <p class="me-3 mb-0">Capacity: GB</p>
                        <p class="me-3 mb-0">Write Speed: </p>
                        <p class="me-3 mb-0">Read Speed </p>
                      </div>
                      <div class="mt-2 d-flex">
                        <p class="me-3 mb-0">Active Time: </p>
                        <p class="me-3 mb-0">Response Time: </p>
                        <p class=" mb-0">Types: </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item ctmAccordion">
                  <h2 class="accordion-header" id="subHeadingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#subCollapseFour" aria-expanded="true" aria-controls="subCollapseFour">
                      Cooling Metrics
                    </button>
                  </h2>
                  <div id="subCollapseFour" class="accordion-collapse collapse show" aria-labelledby="subHeadingFour">
                    <div class="accordion-body">
                      <div class="d-flex align-items-center">
                        <p class="me-3 mb-0">System Temperature: </p>
                        <p class="me-3 mb-0">Motherboard Temperature: </p>
                      </div>
                      <div class="mt-2 d-flex">
                        <p class="me-3 mb-0">Average Fans Speed:  </p>                      
                        <p class="mb-0"> Throttling Occuring: </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item ctmAccordion">
                  <h2 class="accordion-header" id="subHeadingFive">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#subCollapseFive" aria-expanded="true" aria-controls="subCollapseFive">
                      Network Metrics
                    </button>
                  </h2>
                  <div id="subCollapseFive" class="accordion-collapse collapse show" aria-labelledby="subHeadingFive">
                    <div class="accordion-body">
                      <div class="d-flex align-items-center">
                        <p class="me-3 mb-0">Send:</p>
                        <p class="me-3 mb-0">Adapter: </p>
                        <p class="me-3 mb-0">DNS Name: </p>
                      </div>
                      <div class="mt-2 d-flex">
                        <p class="me-3 mb-0">Retrieve: </p>
                        <p class="me-3 mb-0">IPv4 Address:</p>
                        <p class=" mb-0">IPv6 Address:</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Load Balancing Metrics Accordion -->
        <div class="accordion-item ctmAccordion">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              Load Balancing Metrics
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
            <div class="accordion-body">
              <div class="d-flex align-items-center">
                <p class="me-3 mb-0">Traffic Request Rate: 1500 </p>
                <p class=" mb-0">Connection Count:1500 </p>
  
              </div>
              <div class="mt-2 d-flex">
                <p class="me-3 mb-0">Response Time: 1500 </p>                      
                <p class="mb-0"> Algorithm Type: Predictive </p>
              </div>
              <div class="mt-2 d-flex">
                <p class="me-3 mb-0">Current Load: 1500 </p>                      
                <p class="mb-0"> Load Balancer Efficiency: </p>
              </div>
            </div>
          </div>
        </div>
  
      </div> <!-- End of Main Accordion -->
  
      <!-- Example Chart -->
      <div class="chart-container">
        <h4>Example Chart</h4>
        <!-- You can replace this with an actual chart library or image -->
        <p style="text-align:center;">[LOAD BALANCER EFFICIENCER PLOTTED]</p>
      </div>
    </div>
  </div>