
<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Server Status Dashboard{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='CSS/base.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <nav class="sidebar bg-custom">
        <div class="container-fluid">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">
                        <i class="bi bi-house-door"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.servers') }}">
                        <i class="bi bi-server"></i> Server
                    </a>
                    <div class="collapse {% if session.sub_links_open %}show{% endif %}" id="serverSubLinks">
                        <ul class="nav flex-column ms-3">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.overview') }}">
                                    <i class="bi bi-graph-up"></i> Overview
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.process_threads') }}">
                                    <i class="bi bi-cpu"></i> Process & Thread
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.server_network') }}">
                                    <i class="bi bi-router"></i> Connection & Network
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.memory_storage') }}">
                                    <i class="bi bi-hdd"></i> Memory & Storage
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.server_power') }}">
                                    <i class="bi bi-battery"></i> Power Management
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('main.loadbalance') }}">
                                    <i class="bi bi-diagram-3"></i> Load Balance
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.rules') }}">
                        <i class="bi bi-sliders"></i> Rules
                    </a>
                    {% if request.args.get('group_id') %}
                        {% set group_id = request.args.get('group_id') %}
                    {% else %}
                        {% set group_id = None %}
                    {% endif %}
                    {% if request.path.startswith('/configRules') %}
                        <div class="collapse show" id="configRulesSubLinks">
                            <ul class="nav flex-column ms-3">
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == '/configRules/methods' %} active {% endif %}" 
                                       href="{{ url_for('main.config_methods', group_id=group_id) }}">
                                        <i class="bi bi-sliders"></i> Methods
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == '/configRules/show' %} active {% endif %}" 
                                       href="{{ url_for('main.config_show_rules', group_id=group_id) }}">
                                        <i class="bi bi-eye"></i> Show Rules
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == '/configRules/add' %} active {% endif %}" 
                                       href="{{ url_for('main.config_add_rules', group_id=group_id) }}">
                                        <i class="bi bi-plus-circle"></i> Add Rules
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/logs">
                        <i class="bi bi-file-earmark-text"></i> Logs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/train">
                        <i class="bi bi-file-earmark-text"></i> Train Model
                    </a>
                </li>
                <li class="nav-item">
                    <span class="text-white">Documentation</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userDoc">
                        <i class="bi bi-book"></i> User Guide
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="bi bi-file-earmark-check"></i> Terms and Conditions
                    </a>
                </li>
            </ul>
        </div>
    </nav>
  
    <style>
        .collapse .nav-link {
    padding-left: 30px; /* Adjust to control indentation */
}
         .text-white {
            color: #ffffff !important;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px;
            font-family: 'customFont';

        }

        .nav-link {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .nav-link.active, .nav-link:hover {
            background-color: #808183; /* Light background color for highlighting */
            border-radius: 5px;
            color: white !important;
        }
   
    </style>

    <!-- Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
