<!-- templates/serverOverview.html -->
{% extends "base.html" %}

{% block title %}Server Overview{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='css/serverOverview.css') }}" rel="stylesheet">
<div class="container customContainer mt-2"> 
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <span class="me-2">
                Server Template: 
                <a href="#" id="customTemplate" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Custom
                </a>
                <ul class="dropdown-menu customMenu ">
                    <li class="d-flex justify-content-between align-items-center">
                        <a class="dropdown-item cstmA" href="#">Template 1</a>
                        <button class="btn btn-sm btn-danger ms-2 remove-btn">X</button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <a class="dropdown-item cstmA" href="#">Template 2</a>
                        <button class="btn btn-sm btn-danger ms-2 remove-btn">X</button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <a class="dropdown-item cstmA" href="#">Custom</a>
                        <button class="btn btn-sm btn-danger ms-2 remove-btn">X</button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                      <button class="btn add-template" data-bs-toggle="modal" data-bs-target="#addTemplateModal"> New Template </button>
                    </li>
                </ul>
            </span>
            <button class="btn custom-template">Save as Template</button>
        </div>
    </div>

  <div class="row mt-2 mb-1">
    <div class="col-lg-3">
      <div>Server Name: <span>Server 1</span></div>
    </div>
    <div class="col-lg-3">
      <div>Group: <span>Group A</span></div>
    </div>
    <div class="col-lg-3">
      <div>IP Address: <span>192.168.1.1</span></div>
    </div>
    <div class="col-lg-3">
      <div>Status: <span>Online</span></div>
    </div>
  </div>

  <div class="row mt-2 mb-1">
    <div class="col-lg-3">
      <div>Uptime: <span>24 days</span></div>
    </div>
    <div class="col-lg-3">
      <div>Load Balancing Method: <span>Round Robin</span></div>
    </div>
    <div class="col-lg-3">
      <div>Traffic Request Rate: <span>2000 requests/min</span></div>
    </div>
    <div class="col-lg-3">
      <div>Response Time: <span>120ms</span></div>
    </div>
  </div>
  
  <div class="row mt-2 mb-1">
    <div class="col-lg-3">
      <div>Connection Count: <span>1500</span></div>
    </div>
    <div class="col-lg-3">
      <div>Current Load: <span>65%</span></div>
    </div>
    <div class="col-lg-3">
      <div>Efficiency Throughput: <span>85%</span></div>
    </div>
    <div class="col-lg-3">
      <div>Network In: <span>5 Gbps</span></div>
    </div>
  </div>
  
  <div class="row mt-2 mb-1">
    <div class="col-lg-3">
      <div>Network Out: <span>4.5 Gbps</span></div>
    </div>
    <div class="col-lg-3">
      <div>CPU Name: <span>Intel Xeon</span></div>
    </div>
    <div class="col-lg-3">
      <div>Speed: <span>3.5 GHz</span></div>
    </div>
    <div class="col-lg-3">
      <div>Cores: <span>8</span></div>
    </div>
  </div>
  
  <div class="row mt-2 mb-1">
    <div class="col-lg-3">
      <div>Processors: <span>2</span></div>
    </div>
    <div class="col-lg-3">
      <div>Available Memory: <span>64 GB</span></div>
    </div>
    <div class="col-lg-3">
      <div>Swap Usage: <span>1 GB</span></div>
    </div>
    <div class="col-lg-3">
      <div>Cache: <span>12 MB</span></div>
    </div>
  </div>
  
  <div class="row mt-2 mb-1">
    <div class="col-lg-3">
      <div>Disk Capacity: <span>2 TB</span></div>
    </div>
    <div class="col-lg-3">
      <div>Write Speeds: <span>500 MB/s</span></div>
    </div>
    <div class="col-lg-3">
      <div>Read Speeds: <span>600 MB/s</span></div>
    </div>
    <div class="col-lg-3">
      <div>Drive Type: <span>SSD</span></div>
    </div>
  </div>
  
  <div class="row mt-2 mb-1">
    <div class="col-lg-3">
      <div>System Temperature: <span>45°C</span></div>
    </div>
    <div class="col-lg-3">
      <div>Fan 1 Speed: <span>2000 RPM</span></div>
    </div>
    <div class="col-lg-3">
      <div>Fan 2 Speed: <span>1800 RPM</span></div>
    </div>
  </div>


  <!-- Sliders Section -->
    <div class="row mt-2">
        <div class="col-lg-12">
        <h5>Adjust Server Settings</h5>
        </div>
        <div class="col-lg-6 mb-1">
            <label for="slider1" class="form-label">CPU Usage</label>
            <input type="range" class="form-range" id="slider1" min="0" max="100">
        </div>
        <div class="col-lg-6 mb-1">
            <label for="slider2" class="form-label">Memory Usage</label>
            <input type="range" class="form-range" id="slider2" min="0" max="100">
        </div>
        <div class="col-lg-6 mb-1">
            <label for="slider3" class="form-label">Network In</label>
            <input type="range" class="form-range" id="slider3" min="0" max="100">
        </div>
        <div class="col-lg-6 mb-1">
            <label for="slider4" class="form-label">Network Out</label>
            <input type="range" class="form-range" id="slider4" min="0" max="100">
        </div>
        <div class="col-lg-6 mb-1">
            <label for="slider5" class="form-label">Disk Write</label>
            <input type="range" class="form-range" id="slider5" min="0" max="100">
        </div>
        <div class="col-lg-6 mb-1">
            <label for="slider6" class="form-label">Disk Read</label>
            <input type="range" class="form-range" id="slider6" min="0" max="100">
        </div>
    </div>

  <!-- Chart Section -->
    <div class="row mt-2">
        <div class="col-12">
            <h5>Server Performance</h5>
            <canvas id="performanceChart" style="max-height: 200px; width: 100%; border:solid 1px red;"></canvas>
        </div>
    </div>
</div>



{% include 'includes/addnewTemplateModal.html' %}

{% endblock %}