<link href="{{ url_for('static', filename='css/server.css') }}" rel="stylesheet">

<!-- templates/server.html -->
{% extends "base.html" %}

{% block title %}Server Details{% endblock %}


{% block content %}



<div class="container-fluid mt-3">
    <div class="d-flex  mb-3">
        <input type="text" class="search-bar w-50" placeholder="Search...">
        <button type="button" class="custombtn" data-bs-toggle="modal" data-bs-target="#addDeviceModal">
            <span class="me-1 customIcon">Add New Device</span>
            <i class="bi bi-plus-square"></i>
        </button>
    </div>

      <!-- Table -->
    <div class="table-responsive ">
        <table class="customtable">
            <thead>
                <tr>
                    <th> <input class="checkboxes" type="checkbox"></th>
                    <th>Group</th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>CPU Usage</th>
                    <th>Memory Usage</th>
                    <th>Disk Usage</th>
                    <th>Network Traffic</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                <tr>
                    <td><input class="checkboxes" type="checkbox"></td>
                    <td>
                        <div>
                            <select class="customselect" id="group_{{ server.server_id }}" aria-label="Group Select" onchange="changeGroup('{{ server.server_id }}')">                            {% if server.group %}
                            <option value="{{ server.group.group_id }}" selected>{{ server.group.name }}</option>
                          {% else %}
                            <option value="" disabled selected>Select Group</option>
                          {% endif %}
                            {% for group in groups %}
                              {% if not server.group or server.group.group_id != group.group_id %}
                                <option value="{{ group.group_id }}">{{ group.name }}</option>
                              {% endif %}
                            {% endfor %}
                            <option value="manage_groups">Manage Groups...</option>
                            </select>
                        </div>
                    </td>
                      
                    <td>{{ server.status }}</td>
                    <td>{{ server.name }}</td>
                    <td>{{ server.ip_address }}</td>
                    <td>{{ server.cpu_usage }}%</td>
                    <td>{{ server.memory_usage }}%</td>
                    <td>{{ server.disk_usage }}%</td>
                    <td>{{ server.network_traffic }} mb/s</td>
                    <td>
                        <button type="button" class="customRemove buttonstyle" onclick="removeServer('{{ server.ip_address }}')">Remove</button>
                        <button type="button" class=" customConfig buttonstyle" onclick="toggleSubLinks('{{ server.server_id }}')">Configure Device</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
 

    </script>
    

{% include 'includes/addDeviceModal.html' %}
{% include 'includes/addGroupModal.html' %}
    <script src="{{ url_for('static', filename='JS/addDevice.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/server.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/updategroup.js') }}"></script>

    <script>


    </script>
{% endblock %}
