<!-- templates/serverOverview.html -->
{% extends "base.html" %}

{% block title %}Server Overview{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='CSS/proccess&threads.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/serverOverview.css') }}" rel="stylesheet">

<div class="container customContainer mt-2"> 

  <!-- Heading Section -->
  <div class="row mt-2">
    <div class="col-12 text-center">
      <h2>Power Management</h2>
    </div>
  </div>

<div class="row mt-5 mb-5">

  <div class="col-lg-3">
    <div class="customh2">Power Profile:</div>
    <small class="customSmall">Select the power profile</small>
    <div class="ms-2">
        <select class="form-select" id="powerprofile">
            <option value="" disabled selected>Select profile</option>
            <option value="balanced">balanced</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
</div>

<div class="col-lg-3">
  <div class="customh2">Fan Speed Control :</div>
  <small class="customSmall">Select profile</small>
  <div class="ms-2">
      <select class="form-select" id="powerprofile">
          <option value="" disabled selected>Select profile</option>
          <option value="Automatic">Automatic</option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
      </select>
  </div>
</div>


<div class="col-lg-3">
  <div class="customh2">Power Supply Mode :</div>
  <small class="customSmall">Select profile</small>
  <div class="ms-2">
      <select class="form-select" id="powerprofile">
          <option value="" disabled selected>Select profile</option>
          <option value="he">High Efficiency</option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
      </select>
  </div>
</div>

  <div class="col-lg-3">
    <div class="d-flex align-items-center">
      <div class="customh2">Enable USB Power Saving:</div>
      <div class="form-check ms-2">
        <input class="form-check-input" type="checkbox" id="usbpowersaving">
      </div>
    </div>
    <small class="customSmall">Enable or disable dynamic overclocking for extra performance.</small>
  </div>
</div>

  <!-- Second Row of Inputs with Sliders -->
    <div class="row mt-5 mb-5">

        <div class="col-lg-3">
          <div class="d-flex align-items-center">
            <div class="customh2">Enable UPS Support:</div>
            <div class="form-check ms-2">
              <input class="form-check-input" type="checkbox" id="uspsupport">
            </div>
          </div>
          <small class="customSmall">Enable or disable dynamic overclocking for extra performance.</small>
        </div>
    
        <div class="col-lg-3">
          <div class="customh2">PCIe Link State Power:</div>
          <small class="customSmall">Select the profile</small>
          <div class="ms-2">
              <select class="form-select" id="powerprofile">
                  <option value="" disabled selected>Select profile</option>
                  <option value=";1">L1</option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
              </select>
          </div>
      </div>

      <div class="col-lg-3">
        <div class="d-flex align-items-center">
          <div class="customh2">Enable Wake-on-Lan:</div>
          <div class="form-check ms-2">
            <input class="form-check-input" type="checkbox" id="wakeonlan">
          </div>
        </div>
        <small class="customSmall">.</small>
      </div>

      <div class="col-lg-3">
        <div class="customh2">
            <label for="disksleeptimer" class="form-label">
                Disk Sleep Timer: <span class="rangeValue" id="disksleeptimerValue">150s</span>
            </label>
        </div>
        <small class="customSmall">Adjust the network throttling percentage.</small>
        <input autocomplete="off" id="disksleeptimer" type="range" class="slider" min="1" max="300" value="150">
        <div class="slider-labels">
            <span>1s</span>
            <span>150s</span>
            <span>300s</span>
        </div>
    </div>

  </div>

    <div class="row mt-5 mb-5">
  <!-- Chart Section -->
    <div class="row mt-2">
        <div class="col-12">
            <h5>Power Usage</h5>
            <canvas id="performanceChart" style="max-height: 200px; width: 100%; border:solid 1px red;"></canvas>
        </div>
    </div>

  <!-- Buttons Section -->
    <div class="row mt-2">
        <div class="col-lg-12 d-flex justify-content-center">
            <button class=" custom-apply me-3">Apply Changes</button>
            <button class=" custom-reset">Reset to Default</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='JS/slider.js') }}"></script>

{% endblock %}